body {
  font-family: "Cormorant", serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color--primary;
  font-size: 16px;
  overflow-x: hidden;
  position: relative;
}

.bg-pink {
  background-color: $color--pink;
}

.color-dark {
  color: $color--brown;
}

.agusteana-btn {
  color: $color--brown;
  border: solid 2px #c49c89;
  font-weight: 600;
  padding: 0.5rem 1rem;
  display: inline-block;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 0.7rem;
  &:hover {
    color: $color--brown;
    background-color: #c49c89;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    padding: 0.5rem 1.6rem;
    font-size: 1rem;
  }
}

.box {
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gform_wrapper {
  .gform_body {
    .gform_fields {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      padding: 0;
      .gfield {
        margin-bottom: 1rem;
        .gfield_label,
        .screen-reader-text {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          white-space: nowrap;
          border: 0;
        }
        input,
        .datepicker,
        textarea {
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          line-height: 1.5;
          background-clip: padding-box;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
          border: solid 2px #c19986;
          background-color: transparent;
        }
      }
    }
  }
  .gform_footer {
    text-align: center;
  }
}

.gform_confirmation_wrapper {
  margin-top: 4rem;
}

::placeholder {
  color: $color--brown;
}

button {
  &:focus {
    outline: none;
  }
}
