.main-header {
  .logo {
    width: 200px;
    max-width: 100%;
    height: auto;
  }
}

.agusteana-footer {
  background-color: $color--pink;
  position: relative;
  .footer__icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $color--pink;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-wrapper {
      width: 45px;
      img {
        width: 100%;
      }
    }
  }
  .social-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    li {
      display: flex;
      align-items: center;
      @media (min-width: 768px) {
        &:nth-child(2) {
          &:before,
          &:after {
            content: "";
            width: 150px;
            height: 1px;
            background-color: $color--brown;
            display: block;
            margin: 0 1.3rem;
          }
        }
      }
      a {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: $color--pink;
        background-color: $color--brown;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 768px) {
          background-color: transparent;
          color: $color--brown;
          width: auto;
          height: auto;
          border-radius: 0;
          display: block;
        }
      }
    }
  }
  a {
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    &:hover {
      color: $color--brown;
      opacity: 0.6;
      text-decoration: none;
    }
  }
}
