.events-slider {
  .slick-arrow {
    position: absolute;
    width: 250px;
    height: calc(100% - 7px);
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(33, 25, 21, 0.58);
    border: none;
    color: #c19986;
    &.slick-next {
      right: 0;
      span {
        left: 25px;
      }
    }
    &.slick-prev {
      left: 0;
      span {
        right: 25px;
      }
    }
    span {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: solid 1px #c19986;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #c19986;
        color: $color--brown;
      }
    }
  }
}

.social-section {
  .divider {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #c19986;
  }
}

.ui-datepicker {
  background-color: $color--pink;
  .ui-datepicker-header {
    display: flex;
    flex-wrap: wrap;
    .ui-datepicker-prev {
      margin-right: auto;
      padding: 5px 10px;
    }
    .ui-datepicker-next {
      padding: 5px 10px;
    }
  }
  .ui-datepicker-title {
    text-align: center;
    width: 100%;
  }
  .ui-datepicker-calendar {
    th,
    td {
      padding: 5px 10px;
      text-align: center;
    }
    td {
      a {
        color: #c19986;
      }
      &:hover:not(.ui-datepicker-unselectable) {
        background-color: #c19986;
        a {
          color: #5b5b5f;
        }
      }
    }
    .ui-datepicker-today {
      background-color: #5b5b5f;
      a {
        color: #c19986;
      }
    }
    .ui-datepicker-current-day {
      background-color: #c19986;
      a {
        color: #5b5b5f;
      }
    }
  }
}
