.welcome-section {
  position: relative;
  overflow-x: hidden;
  .welcome-section__bg {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    right: 0;
    @media (min-width: 768px) {
      width: 50%;
      height: 100%;
    }
  }
  .welcome-section__content {
    position: relative;
    .welcome-section__circle {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: translateX(-50%);
    }
  }
}

.product-section {
  .product-section__item {
    overflow: hidden;
    position: relative;
    .product-section__img {
      position: relative;
      padding: 7rem 0;
      span {
        width: 55%;
        height: 80%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #b3805e;
        z-index: 0;
      }
      img {
        max-width: 100%;
        position: relative;
        width: 85%;
        margin-right: 0;
        display: block;
        margin-left: auto;
        z-index: 2;
      }
      &:before {
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;
        border-left: solid 1px #c19986;
        border-right: solid 1px #c19986;
        top: 0;
        left: 20%;
        z-index: 1;
      }
    }
    &:nth-child(even) {
      .product-section__img {
        span {
          left: auto;
          right: 0;
        }
        img {
          margin-right: auto;
          margin-left: 0;
        }
        &:before {
          left: auto;
          right: 20%;
        }
      }
    }
    &:nth-child(2) {
      span {
        background-color: #8a96a5;
      }
    }
    &:nth-child(3) {
      span {
        background-color: #be7966;
      }
    }
    &:nth-child(4) {
      span {
        background-color: #b0a792;
      }
    }
  }
}
